 #page-wrap{
		padding-top:20px;
		padding-left:20px;
		}
		h1{
			margin-bottom:10px;
		}
		.items a,.items a:active,.items a:link,.items a:visited{
		font-size:1.2em;
			color:#3300CC;
			text-decoration:underline;
			display:block;
			margin-top:10px;
		}
		.items a:hover{
			text-decoration:none;	
		}
		.okrivljen{
			font-size:0.8em;
			padding-left:10px;
		}
		.vestak{
			font-size:0.8em;
			padding-left:10px;
		}